@model StoresManagement.ViewModels.PurchaseFormViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Purchase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="newPurchase" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Branch.Name)
                    @Html.DropDownListFor(m => m.BranchId, new SelectList(Model.Branches, "Id", "Name"), "Select Branch", new { @class = "form-control", required = "Select Branch" })
                </div>
                <div class="form-group">
                    <label asp-for="Customer.FullName" class="control-label"></label>
                    <input id="CustomerFullName" asp-for="Customer.FullName" class="form-control" required />
                    <input id="CustomerId" type="hidden" asp-for="CustomerId" />
                </div>
            </div>

            <div class="row">
                <h5 class="modal-title;inputstyle;">NEW PURCHASE ITEM</h5>
            </div>

            <div>
                <table id="PurchaseItemsTable" class="table">
                    <tr>
                        <td>No.     </td>
                        <td>Product </td>
                        <td>Price   </td>
                        <td>Quantity</td>
                        <td>Total   </td>
                        <td>Action  </td>
                    </tr>

                    <tr>
                        <td><div id="ProductTableRowNumber"></div></td>
                        <td><div> <input id="ProductName" type="text" /></div></td>
                        <td><div> <input id="ProductPrice" type="number" readonly /> </div> </td>
                        <td><div> <input id="ProductQuantity" type="number" min="1" /></div></td>
                        <td><div id="PurchaseTotalItem"></div> </td>
                        <td><button type="button" class="btn btn-secondary" onclick="addPurchaseItem()">Add</button></td>
                    </tr>
                </table>

                <input id="ProductId" type="hidden" />
                <div>
                    <h3 class="text-right pt-3">Purchase Total</h3>
                    <h2 class="text-right pb-3" id="purchaseTotal"></h2>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        // Values from the form
        let branchID = document.getElementById('BranchId');
        let customerID = document.getElementById('CustomerId');
        let purchaseTotalLabel = document.getElementById('purchaseTotal');
        let newProductId = document.getElementById('ProductId');
        let newProductName = document.getElementById('ProductName');
        let newQuantity = document.getElementById('ProductQuantity');
        let newPrice = document.getElementById('ProductPrice');
        let newTotalItem = document.getElementById('PurchaseTotalItem');
        let newquantityInStock;
        let productTableRowNumber = document.getElementById('ProductTableRowNumber');
        var table = document.getElementById('PurchaseItemsTable');

        var tableRowsNumber = 1;
        let purchaseItems = [];
        let purchaseTotal = 0;

        productTableRowNumber.innerHTML = tableRowsNumber;

        function addPurchaseItem() {
            let quantityItem = parseInt(newQuantity.value);
            let currentPriceItem = parseFloat(newPrice.value);

            if (Number.isNaN(currentPriceItem) || currentPriceItem == "" || currentPriceItem === null || currentPriceItem <= 0) {
                alert("Please, select the product.");
                return false;
            }

            let purchaseTotalItem = quantityItem * currentPriceItem;
            purchaseTotal += purchaseTotalItem;

            var row = table.insertRow(tableRowsNumber);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);
            cell1.innerHTML = tableRowsNumber;
            cell2.innerHTML = newProductName.value;
            cell3.innerHTML = currentPriceItem.toFixed(2);
            cell4.innerHTML = quantityItem;
            cell5.innerHTML = purchaseTotalItem.toFixed(2);
            cell6.innerHTML = "<button type='button' onclick=\"removePurchaseItem(\'" + tableRowsNumber + "\')\" >Delete</button>";

            purchaseTotalLabel.innerHTML = purchaseTotal.toFixed(2);

            purchaseItems.push({
                ProductId: parseInt(newProductId.value),
                ProductQuantity: quantityItem,
                ProductCurrentPrice: currentPriceItem,
                Total: purchaseTotalItem,
                DiscountTotal: 0
            });

            tableRowsNumber += 1;

            productTableRowNumber.innerHTML = tableRowsNumber;
            newProductName.value = "";
            newPrice.value = "";
            newQuantity.value = "";
            newTotalItem.textContent = "";

        };

        function removePurchaseItem(id) {

            var index = id - 1;
            purchaseTotal -= (purchaseItems[index].ProductQuantity * purchaseItems[index].ProductCurrentPrice);
            tableRowsNumber -= 1;

            purchaseItems.splice(index, 1);
            table.deleteRow(id);

            var numRows = 1;
            while (numRows <= purchaseItems.length) {

                var row = table.getElementsByTagName("tr")[numRows];
                var tdNumRows = row.getElementsByTagName("td")[0];
                var tdDeleteButton = row.getElementsByTagName("td")[5];

                tdNumRows.innerHTML = numRows;
                tdDeleteButton.innerHTML = "<button type='button' onclick=\"removePurchaseItem(\'" + numRows + "\')\" >Delete</button>";

                numRows++;
            }

            productTableRowNumber.innerHTML = tableRowsNumber;
            purchaseTotalLabel.innerHTML = purchaseTotal.toFixed(2);

            return false;
        };

        var validator = $("#newPurchase").validate({
            submitHandler: function () {

                if (typeof purchaseItems != "undefined"
                    && purchaseItems != null
                    && purchaseItems.length != null
                    && purchaseItems.length > 0) {
                    alert("Purchase Ok - Total: $ " + purchaseTotal.toFixed(2));
                }
                else {
                    alert("Please, add at least a product to the purchase.");
                    return false;
                }

                let Purchase = JSON.stringify(
                    {
                        BranchId: parseInt(branchID.value)
                        , CustomerId: parseInt(customerID.value)
                        , Total: 0
                        , Discount: 0
                        , PurchaseItems: purchaseItems
                    });

                $.ajax({
                    url: '/Purchases/Create',
                    data: Purchase,
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: 'json'
                    , success: function () { validator.resetForm(); window.location = '/Purchases'; }
                    , error: function (xhr, status, error) { alert('Error:' + error); console.log(xhr); console.log(status); console.log(error); }
                });

                return false;
            }
        });

        $(document).ready(function () {
            $("#ProductName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Products/Search',
                        type: 'GET',
                        cache: false,
                        data: request,
                        dataType: 'json',
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    value: item.productId,
                                    label: item.productName,
                                    price: item.productPrice,
                                    quantityInStock: item.productQuantityInStock
                                }
                            }))
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    $('#ProductId').val(ui.item.value);
                    $('#ProductName').val(ui.item.label);
                    $('#ProductPrice').val(ui.item.price.toFixed(2));
                    $('#ProductQuantity').val(1);
                    newquantityInStock = ui.item.quantityInStock;
                    handleQuantityChanges();
                    console.log(ui.item.quantityInStock);
                    return false;
                },
                focus: function (event, ui) {
                    $('#ProductName').val(ui.item.label);
                    return false;
                }
            });
        });

        ProductQuantity.addEventListener("change", handleQuantityChanges);
        function handleQuantityChanges() {

            if (newQuantity.value > newquantityInStock) {
                alert("The number of product in stock is: " + newquantityInStock);
                newQuantity.value = newquantityInStock;
            }

            newTotalItem.textContent = (newPrice.value * newQuantity.value).toFixed(2);

        }
    </script>

}