@model IEnumerable<StoresManagement.ViewModels.EntityFormViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://unpkg.com/tabulator-tables@4.2.7/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.2.7/dist/js/tabulator.min.js"></script>
</head>

<body>
    <div class="form-group">
        <div id="index-table"></div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //custom formatter definition
        var actionButtons = function (cell, formatterParams, onRendered) { //plain text value
            let id = cell.getRow().getData().id;

            return "<input type=\"submit\" value=\"Details\" class=\"btn btn - primary\" style=\"color: black; border: 1px solid gray;\" / onclick=\"detailRecord(" + id + ")\"> <input type=\"submit\" value=\"Edit\" class=\"btn btn - primary\" style=\"color: black; border: 1px solid gray;\" / onclick=\"editRecord(" + id + ")\"> <input type=\"submit\" value=\"Delete\" class=\"btn btn - primary\" style=\"color: black; border: 1px solid gray;\" / onclick=\"deleteRecord(" + id + ")\"> ";
        };

        function detailRecord(id) {
            window.location.href = '@Url.Action("Details", "Entities")/' + id;
        }

        function editRecord(id) {
            window.location.href = '@Url.Action("Edit", "Entities")/' + id;
        }

        function deleteRecord(id) {
            window.location.href = '@Url.Action("Delete", "Entities")/' + id;
        }

        $(document).ready(function () {

            //Build Tabulator
            var table = new Tabulator("#index-table", {
                layout: "fitData",
                ajaxURL: "/Entities/ListAll",
                ajaxProgressiveLoad: "scroll",
                placeholder: "There are no records",
                columns: [
                    { field: "id", visible: false },
                    { title: "Entity", field: "entityName", headerFilter: "input" },
                    { title: "Action", formatter: actionButtons, align: "center" },
                ],
            });

        });
    </script>
}